<div class="search">
  <input type="text" placeholder="搜索感兴趣的文章或商品">
</div>

<div class="good">
  <h3>精品分类</h3>
  <div class="classifybox">
      <div class="wrap" *ngFor="let value of classify">
        <div class="content">
          <img src={{value.path}} alt="">
        </div>
        <div class="filter" [style.background]="value.color">
          <p>{{value.title}}</p>
        </div>
      </div>
      <div class="wrap">
        <div class="content">
        </div>
        <div class="filter"></div>
      </div>
  </div>
</div>

<div class="hot">
      <h3>热门标签</h3>
      <div class="hotbox">
        <div class="wrap" *ngFor="let value of hot">
          <div class="content">
            <img src={{value.path}} alt="">
          </div>
          <div class="filter">{{value.title}}</div>
        </div>
        <div class="wrap">
          <div class="content">
          </div>
          <div class="filter"></div>
        </div>
    </div>
  </div>