<div class="carousel slide" data-ride="carousel" id="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="3"></li>
        <li data-target="#carousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="../../assets/img/banner/slide1.jpeg" alt="" class="slide-img">
        </div>
        <div class="item">
            <img src="../../assets/img/banner/slide2.jpeg" alt="" class="slide-img">
        </div>
        <div class="item">
            <img src="../../assets/img/banner/slide3.jpeg" alt="" class="slide-img">
        </div>
        <div class="item">
            <img src="../../assets/img/banner/slide4.jpeg" alt="" class="slide-img">
        </div>
        <div class="item">
            <img src="../../assets/img/banner/slide5.jpeg" alt="" class="slide-img">
        </div>
    </div>
</div>


<div id="tabs">
    <div id="top-line"></div>
    <div class="swiper-wrapper">
        <div class="swiper-slide active">个护</div>
        <div class="swiper-slide">家居</div>
        <div class="swiper-slide">美食</div>
        <div class="swiper-slide">彩妆</div>
        <div class="swiper-slide">视频</div>
        <div class="swiper-slide">时尚</div>
        <div class="swiper-slide">礼物</div>
        <div class="swiper-slide">数码</div>
        <div class="swiper-slide">运动</div>
        <div class="swiper-slide">宠物</div>
        <div class="swiper-slide">餐酒</div>
        <div class="swiper-slide">出行</div>
        <!-- <div class="swiper-slide" *ngFor="let t of title">{{t.title}}</div> -->

    </div>
</div>

<div id="tabs-container" class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="content-slide">
                <div class="koubei">
                    <div class="koubei_log">
                        <i></i> 口碑
                        <i></i>
                    </div>
                    <div id="koubei" class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide active">
                            </div>
                            <div class="swiper-slide">
                            </div>
                            <div class="swiper-slide">
                            </div>
                            <div class="swiper-slide">
                            </div>
                            <div class="swiper-slide">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="news-list" *ngFor="let list of item[0].articles">
                    <div class="news-list-img">
                        <img [src]="list.featuredImageUrl" alt="">
                    </div>
                    <h2>{{list.title}}</h2>
                    <p>{{list.excerpt}}</p>
                    <span>{{list.categories[0].name}}</span>
                </div>


            </div>
        </div>

        <div class="swiper-slide">
            <div class="content-slide">
                <div class="news-list" *ngFor="let list of item[1].articles">
                    <div class="news-list-img">
                        <img [src]="list.featuredImageUrl" alt="">
                    </div>
                    <h2>{{list.title}}</h2>
                    <p>{{list.excerpt}}</p>
                    <span>{{list.categories[0].name}}</span>
                </div>
            </div>
        </div>

        <div class="swiper-slide">
            <div class="content-slide">
                <div class="news-list" *ngFor="let list of item[2].articles">
                    <div class="news-list-img">
                        <img [src]="list.featuredImageUrl" alt="">
                    </div>
                    <h2>{{list.title}}</h2>
                    <p>{{list.excerpt}}</p>
                    <span>{{list.categories[0].name}}</span>
                </div>
            </div>
        </div>

        <div class="swiper-slide">
            <div class="content-slide">
                <div class="news-list" *ngFor="let list of item[3].articles">
                    <div class="news-list-img">
                        <img [src]="list.featuredImageUrl" alt="">
                    </div>
                    <h2>{{list.title}}</h2>
                    <p>{{list.excerpt}}</p>
                    <span>{{list.categories[0].name}}</span>
                </div>
            </div>
        </div>

        <div class="swiper-slide">
            <div class="content-slide">
                <div class="news-list" *ngFor="let list of item[4].articles">
                    <div class="news-list-img">
                        <img [src]="list.featuredImageUrl" alt="">
                    </div>
                    <h2>{{list.title}}</h2>
                    <p>{{list.excerpt}}</p>
                    <span>{{list.categories[0].name}}</span>
                </div>
            </div>
        </div>

        <div class="swiper-slide">
            <div class="content-slide">
                <div class="news-list" *ngFor="let list of item[5].articles">
                    <div class="news-list-img">
                        <img [src]="list.featuredImageUrl" alt="">
                    </div>
                    <h2>{{list.title}}</h2>
                    <p>{{list.excerpt}}</p>
                    <span>{{list.categories[0].name}}</span>
                </div>
            </div>
        </div>

        <div class="swiper-slide">
            <div class="content-slide">
                <div class="news-list" *ngFor="let list of item[6].articles">
                    <div class="news-list-img">
                        <img [src]="list.featuredImageUrl" alt="">
                    </div>
                    <h2>{{list.title}}</h2>
                    <p>{{list.excerpt}}</p>
                    <span>{{list.categories[0].name}}</span>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="content-slide">
                <div class="news-list" *ngFor="let list of item[7].articles">
                    <div class="news-list-img">
                        <img [src]="list.featuredImageUrl" alt="">
                    </div>
                    <h2>{{list.title}}</h2>
                    <p>{{list.excerpt}}</p>
                    <span>{{list.categories[0].name}}</span>
                </div>
            </div>
        </div>

        <div class="swiper-slide">
            <div class="content-slide">
                <div class="news-list" *ngFor="let list of item[8].articles">
                    <div class="news-list-img">
                        <img [src]="list.featuredImageUrl" alt="">
                    </div>
                    <h2>{{list.title}}</h2>
                    <p>{{list.excerpt}}</p>
                    <span>{{list.categories[0].name}}</span>
                </div>
            </div>
        </div>

        <div class="swiper-slide">
            <div class="content-slide">
                <div class="news-list" *ngFor="let list of item[9].articles">
                    <div class="news-list-img">
                        <img [src]="list.featuredImageUrl" alt="">
                    </div>
                    <h2>{{list.title}}</h2>
                    <p>{{list.excerpt}}</p>
                    <span>{{list.categories[0].name}}</span>
                </div>
            </div>
        </div>
        
        <div class="swiper-slide">
            <div class="content-slide">
                <div class="news-list" *ngFor="let list of item[10].articles">
                    <div class="news-list-img">
                        <img [src]="list.featuredImageUrl" alt="">
                    </div>
                    <h2>{{list.title}}</h2>
                    <p>{{list.excerpt}}</p>
                    <span>{{list.categories[0].name}}</span>
                </div>
            </div>
        </div>

        <div class="swiper-slide">
            <div class="content-slide">
                <div class="news-list" *ngFor="let list of item[11].data.articles">
                    <div class="news-list-img">
                        <img [src]="list.featuredImageUrl" alt="">
                    </div>
                    <h2>{{list.title}}</h2>
                    <p>{{list.excerpt}}</p>
                    <span>{{list.categories[0].name}}</span>
                </div>
            </div>
        </div>



    </div>
</div>