<div class="login">
  <div class="head">
    <span (click)="back()"><i class="iconfont icon-icon"></i></span>
    <h1>注册</h1>
  </div>
  <div class="main">
    <form  [formGroup]="formModel" novalidate>
      <div><span>+86</span><input class="phone" formControlName="mobile" type="text" placeholder="请输入您的手机号"></div>
      <div [hidden]="formModel.get('mobile').valid||formModel.get('mobile').untouched">
        <span [hidden]="!formModel.hasError('mobile','mobile')" class="sp1">请输入正确的手机号</span>
      </div>
      <div formGroupName="passwordGroup" class="div2">
        <div>
          <input type="password"  formControlName="password" placeholder="密码">
        </div>
          <div [hidden]="!formModel.hasError('minlength',['passwordGroup','password'])">
            <span class="sp1">密码长度最小为6位</span>
          </div>
        <div>
          <input type="password" formControlName="pconfirm" placeholder="确认密码">
        </div>
          <div [hidden]="!formModel.hasError('equal','passwordGroup') || formModel.hasError('minlength',['passwordGroup','password'])">
            <span class="sp1">密码和确认密码不一致</span>
          </div>
          <button (click)="onSubmit()">注册</button>
          <div class="div1"><span class="sp2">注册即代表您同意清单</span><span class="sp3">[用户协议]</span></div>
    </div>
    </form>
  </div>
</div>